
.container
{
    width:95%;
    border-radius: 5px;     
    border: 4px solid coral;
    .tabla
    {
        display: grid;
        gap: 5px;
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns:  50px repeat(7,minmax(100px,1fr)) 80px repeat(3,minmax(100px,1fr));
        white-space: nowrap;       
    }
    .cabecera
    {             
        font-weight: bold;
        font-size: medium;
        text-align: center;
        margin: auto;
    }

    .item
    {       
        width: 95%;
        overflow: hidden; 
        //border: 1px dotted ;
        font-weight: normal;
        margin: auto;
        text-overflow: ellipsis;
    }
    
}

