
.container
{
    width:95%;
    border-radius: 5px;     
    border: 4px solid coral;
    .tabla
    {
        display: grid;
        gap: 5px;
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: repeat(12,minmax(100px,1fr));
    }
    .cabecera
    {             
        font-weight: bold;
        font-size: medium;
        text-align: center;
        margin: auto;
    }
    .item
    {
//        background: cyan;
        font-weight: normal;
        margin: auto;
    }
    
}

