<app-hero-form></app-hero-form>
<div>&nbsp;</div>

<mat-divider></mat-divider>
<h3>Componente app-list-persons</h3>
<div>
  <app-list-persons></app-list-persons>
</div>

<mat-divider></mat-divider>
URL del servidor: {{url}}

<div>&nbsp;</div>
<nav>
  <ul>
    <li> <a routerLink="/home">Home</a>    </li>
    <li><a routerLink="/person">Person</a></li>   
    <li><a routerLink="/estudiante">Estudiante</a></li>
    <li><a routerLink="/orders">Pedidos</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>