.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  .half-width {
    width:  45%;
  }
  .mat-form-field  {
    margin-left: 8px;
  }
  section {
    display: table;
  }
  .button-row {
    display: table-cell;
    width: 490px;
  }