/* Se usa para las variables globales, elementos de configuración 
(Si usamos pre procesador, si no, podemos saltarnos esta capa) */

/* ===== PALETTE ===== */
$color-valid: green;
$color-invalid: red;
$color-border: black;
$color-shadow: lightgrey;